/* EditPriorityTags.css */

.MuiDialogTitle-root {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  color: #0b87b1;
  padding-bottom: 10px;
}

.MuiDialogContent-root {
  padding: 20px 30px;
  background-color: #f9f9f9;
}

.MuiFormControl-root {
  background-color: white;
  border-radius: 6px;
}

.MuiInputLabel-root {
  font-weight: bold;
  color: #555;
}

.MuiSelect-root {
  padding: 10px;
}

.MuiMenuItem-root {
  font-size: 14px;
  
}

.MuiCheckbox-root {
  color: #0b87b1;
}

.MuiDialogActions-root {
  padding: 15px 30px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.MuiDialogContent-root {
  padding: 20px 30px;
  background-color: #f9f9f9;
  max-height: 70vh;
  overflow-y: auto;
}

.MuiFormControl-root {
  background-color: white;
  border-radius: 6px;
  margin-bottom: 20px;
  min-width: 300px;
  max-width: 100%;
}

.MuiSelect-select {
  max-height: 200px;
  overflow-y: auto;
}

.MuiMenu-paper {
  max-height: 300px !important;
  width: 100% !important;
  max-width: 600px;
}
