.grid-container {
  background: #fff;
  border-radius: 16px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li{
     background: #f9f9f9;
     margin-bottom: 8px;
     padding: 10px 15px;
     border-radius: 10px;
     font-size: 0.95rem;
     color: #444;
     transition:0.2s;
     display: flex;
     justify-content: space-between;
     align-items:center;
}
.notask {
  color: #999;
  text-align: center;
  font-size: 18px;
}

.grid-container::-webkit-scrollbar {
  width: 6px;
}

.grid-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

.grid-container::-webkit-scrollbar-track {
  background: transparent;
}

