.task-count-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.task-box {
  display: flex;              
  align-items: center;        
  justify-content: center; 
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  color: white;
  text-align: center;
  height: 70px;
}

/* Different background colors */
.total {
  background-color: #344a5e;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.total:hover {
  background-color: #19222c;
  cursor: pointer;
}

.total:active {
  background-color: #00070e;
  transform: translateY(2px);
  
}

.completed {
  background-color: #27ae60;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.completed:hover {
  background-color: #219451;
  cursor: pointer;
}

.completed:active {
  background-color: #1b7a43;
  transform: translateY(2px);
}


.inprogress {
  background-color: #f39c12;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.inprogress:hover {
  background-color: #e67e22;
  cursor: pointer;
}

.inprogress:active {
  background-color: #c26b1e;
  transform: translateY(2px);
}


.pending {
  background-color: #e74c3c;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.1s ease;
}

.pending:hover {
  background-color: #c0392b;
  cursor: pointer;
}

.pending:active {
  background-color: #a53326;
  transform: translateY(2px);
}
